.taflann {
	width: 100%;
}
tr {
	display: grid;
		      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
td {
	align-self: center;
	justify-self: center;
}
.mark {
	border: 1px solid black;
	display: grid;
	      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	width: 100%;
	/* background-color: black; */
}

button, input {
	padding: 0.5em 1em 0.75em;
		border: black solid 1px;
	border-radius: 1em;
	/* width: 2em; */
}
input {
	width: 2.5em;
}

.buttonDelete {
	background-color: red;
	text-shadow: white 1px 1px 7px;
	filter: drop-shadow(3px 3px 0px red);

}
.buttonChange {
	background-color: yellow;
	text-shadow: white 1px 1px 7px;
	filter: drop-shadow(3px 3px 0px yellow	);


}